body {
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 50px;
    align-items: center;
    padding-top: 150px;
}

.timer {
    font-size: 15vh;
    color: white;
}

.timerBtn {
    font-size: 5vh;
    background-color: rgb(119, 10, 10);
    border: none;
    color: white;
    width: 17vh;
}